<div class="w-full max-w-6xl">
    <mat-tab-group animationDuration="0">
        <!-- Home -->
        <mat-tab label="Fahrzeuge">
            <app-customer-info></app-customer-info>
        </mat-tab>

        <mat-tab label="Kontaktinfo">
            <app-customer-info></app-customer-info>
        </mat-tab>

        <mat-tab label="Aktivitäten">
            <app-customer-info></app-customer-info>
        </mat-tab>

        <mat-tab label="Nachrichten">
            <app-customer-info></app-customer-info>
        </mat-tab>

    </mat-tab-group>
</div>
